/* reset all automatic browser values and initialize
basic values*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 1px hidden;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 3vh;
	font-family: Georgia, 'Times New Roman', Times, serif;
	vertical-align: baseline;
    text-align: center;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color:rgb(100, 100, 100);
	background: white;
}

.banner {
    background-image: url(IMG_3002.JPG);
    background-size: cover;
    height: 30vh;
    padding: 0.05px;
}
@media only screen and (max-width: 760px) {
    .title {
    font-size: 5vh;
    text-align: center;
    margin: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 70%;
    margin-top: 8vh;
    margin-bottom: 5vh;
    border: 3px solid rgb(100, 100, 100);
    }
    input, select {
        width: 75%;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    #converter {
        width: 70%;
    }
}
@media only screen and (min-width: 760px) {
    .title {
        font-size: 7vh;
        text-align: center;
        margin: auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 70%;
        margin-top: 10vh;
        border: 5px solid rgb(100, 100, 100);
    }
    .row {
        width: 100%;
    }
    .left {
        width: 48%;
        display: inline-block; 
    }
    .right {
        width: 48%;
        display: inline-block;  
    }
    input, select {
        width: 44%;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    #converter {
        width: 20%;
    }
}
#converter {
    font-size: 4vh;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5px outset rgb(212, 212, 212);
    border-radius: 2vh;
    background-color: rgb(255, 199, 209);
    color: white;
    transition: all 0.2s;
}
#converter:hover {
    color: rgb(255, 199, 209);
    background-color: white;
}
input, select {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.3vh;
    border: 5px outset rgb(212, 212, 212);
    border-radius: 2vh;
    text-align: center;
}
h2 {
    margin-top: 6vh;
    margin-bottom: 0vh;
    font-size: 5vh;
}
p {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    line-height: 2;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
}